* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: #363636;
}

::selection {
    background: #cef037;
    color: rgb(31, 31, 31);
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.bg {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(183,140,241,1);
}

.wrapper {
    max-width: 1200px;
    min-height: 100vh;
    padding: 15px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #fff;
    width: 60%;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 0 2px #363636, 15px 15px 0 0 #363636;
}

.content__header {
    display: flex;
    flex-direction: column;

    border-bottom: 2px dashed #cecece;
    padding-bottom: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-filtration {
    display: flex;
    gap: 14px;
    margin: 10px 0 0 0 ;
}

.todo-filtration label {
    border: 2px solid #363636;
    background-color: #363636;
    color: #fff;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
}

.todo-filtration input[type="radio"] {
    display: none;
}

.todo-filtration input[type="radio"]:checked + label {
    background-color: #cef037;
    color: #363636;
}

.add-item-form {
    margin: 15px 0;
}

.add-item-form input[type="text"] {
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid #363636;
}

.add-item-form input[type="text"]:focus {
    outline: none;
}

.add-item-form input[type="submit"] {
    display: inline-block;
    border: 2px solid #363636;
    border-radius: 8px;
    padding: 5px 15px;
    background-color: #cef037;
    cursor: pointer;

    box-shadow: 4px 4px 0 0 #363636;
    transition: .3s;
}

.add-item-form input[type="submit"]:hover {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0 0 #363636;

}

.todo-list {
    margin: 40px 0;
    list-style: none;
}

.todo-list li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    word-break: break-all;
}

.todo-list li:hover {
    background-color: rgb(244, 236, 247);
}

.close-icon {
    color: rgb(231, 48, 48);
    font-size: 20px;
    opacity: 0;
    transition: .3s;
    cursor: pointer;
}

.todo-list li:hover .close-icon {
    opacity: 1;
}

.li-checked {
    text-decoration: line-through;
}

/* media queries -------------- */

@media screen and (max-width: 1044px) {
    .header-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .todo-filtration {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .close-icon {
        opacity: .7;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 25px;
    }
    .content {
        width: auto;
    }
}